@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {	
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
body, html {
	height: 100%;
	outline: none;
}

.section {
	height: 100%;
	background-color: #07070b;
}

.image {
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}

#image-one {
	background-image: url("../images/bg2.jpg");
}
.bg {
	position: absolute;
	float: left;
}
.filter {
	width: 100%;
	height: 100%;
	background-color: #07070b;
	opacity: 0.7;
	z-index: 1;
}

.home-text {
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 2;
	margin-top: 120px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}

.home-text h2 {
	font-size: 32px;
	color: #fff;
	margin-bottom: 30px;
	letter-spacing: 7px;
	text-shadow: 0 0 3px #fff;
	font-weight: 300;	
	border-bottom: 3px solid #fa7268;
	width: 30%;
	margin-left: 35%;
	padding: 12px 0;
}
.home-text h1 {
	font-size: 64px;
	color: #fff;
	font-weight: 900;
	margin-bottom: 30px;
	text-shadow: 0 0 3px #fff;

}
.home-text h3 {
	margin-bottom: 50px;
	color: #fff;
	font-weight: 300;
	letter-spacing: 5px;
	text-shadow: 0 0 3px #fff;
}
.home-text span {
	background-color: #fa7268;
	color: #fff;
	padding: 12px 20px;
	font-size: 14px;
	box-shadow: 0 0 3px #07070b;
	transition: 0.3s;
	cursor: pointer;
}
.home-text span:hover {
	color: #fa7268;
	background-color: #fff;
}

.dropdown {
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: 1;
	background-color: #07070b;
	position: absolute;
	transform: translateY(-100%);
	transition: 0.7s;
}
.dropdown ul {
	opacity: 1 !important;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 150px;
	list-style: none;
}
.dropdown ul li {
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 3px #fff;
	font-size: 30px;
	margin-bottom: 30px;
	cursor: pointer;
	transition: 0.3s;
	text-transform: uppercase;
}

.dropdown ul li:hover {
	color: #fa7268;
	text-shadow: 0 0 3px #fa7268;
}


.hamburger {
	position: absolute;
	font-size: 34px;
	color: #fff;
	z-index: 6;
	right: 5%;
	top: 5%;
	cursor: pointer;
	transition: 0.3s;
}
.hamburger:hover {
	transform: rotateZ(180deg);
}
/*-----------------------------*/
.about-container {
	width: 70%;
	margin-top: 50px;
	position: absolute;
	height: 450px;
	display: flex;
	align-items: center;
	margin-left: 15%;
}
.about-container img {
	width: 320px;
	height: 450px;
	border-radius: 7px;
}

.about-text {
	width: 100%;
	padding-left: 50px;
	font-family: 'Roboto', sans-serif;
}
.about-text h5 {
	color: #fa7268;
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: 30px;
}

.about-text h2 {
	font-size: 40px;
	color: white;
	margin-bottom: 40px;
	position: relative;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.about-text p {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	margin-top: 30px;
	color: #ddd;
	line-height: 2;
	font-weight: 100;
}
.about-hr {
	width: 20%;
	border:0;
	background-color: #fa7268;
	height: 2px;
}

.social-btn i {
	font-size: 20px;
	color: #fff;
	padding: 10px 10px;
	margin-left: 10px; 
	cursor: pointer;
	margin-top: 10px;
	transition: 0.3s;
}
.social-btn i:hover {
	color: #fa7268;
	transform: scale(1.3);
}

/*---------------------------------------*/

#section-two {
	background-color: #07070b;
	border-top: 2px solid #1a1b1f;
}

.services-container {
	width: 90%;
	height: 500px auto;
	position: absolute;
	margin-left: 5%;
	margin-top: 30px;
	display: flex;
	align-items: center;
}
.services-text {
	padding: 15px 15px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	border-bottom: 2px solid #fa7268;
	line-height: 35px;
	margin-bottom: 25px;
	text-align: center;
}
.services-text span {
	color: #fa7268;
	font-size: 14px;
}
.services-text h3 {
	color: #fff;
	font-size: 34px;
}

.services-description {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	color: #ddd;
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
}

.left-side {
	width: 25%;
	height: 100%;
}

.right-side {
	width: 75%;
	height: 500px;

}
.service-box {
	width: 80%;
	height: 150px;
	background-color: #1a1b1f;
	margin-bottom: 30px;
	margin-left: 20%;
	border-radius: 5px;
	display: flex;
	align-items: center;
}
.service-box i {
	color: #fa7268;
	font-size: 50px;
	height: 100%;
	width: auto;
	padding: 45px 40px;
}
.box-text {
	font-family: 'Roboto', sans-serif;
}
.box-text h6 {
	color: #fff;
	font-size: 16px;
	letter-spacing: 1.5px;
	margin: 0 0 15px;
}
.box-text p {
	color: #ddd;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}

/*-----------------------------------------------*/

#section-three {
	background-color: #0E0F13;
}

.portfolio-container {
	width: 90%;
	height: 500px ;
	position: absolute;
	margin-left: 5%;
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.port-left {
	width: 25%;
	height: 100%;
}

.port-options {
	display: flex;
	flex-direction: column;
	text-align: center;	
}
.port-options a {
	padding-top: 20px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.5px;
	color: #fff;
	transition: 0.2s;
}

.port-options a:hover {
	color: #fa7268;
}
.active {
	color: #fa7268 !important;
}

.port-right {
	width: 75%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;	
}

.port-img {
	margin-left: 30px;
	cursor: pointer;
	transition: 0.3s;
	overflow: hidden;
}

.port-img img {
	width: 270px;
	height: 200px;
	border-radius: 8px;
	transition: transform 0.4s ease-in-out;
}

.port-img img:hover {
	transform: scale(2) rotate(25deg);
}




/*----------------RESPONSIVE------------------*/


@media only screen and (max-width: 820px) {
	.about-container {
		flex-direction: column;
		width: 100%;
		height: auto;
		margin-left: 0 !important;
	}
	#section-one {
		height: 150%;
	}
	.about-text {
		max-width: 90%;
		padding-left: 0px !important;
		text-align: center;
		margin-top: 30px;
		margin-left: 0 !important;
	}
	.about-hr	{
		margin-left: 40%;
	}
	/*-------------------------------*/
}

@media only screen and (max-width: 1100px) {
	#section-two {
		height: 160%;
	}

	.services-container {
		flex-direction: column;
	}
	.service-box {
		width: 95%;
		margin-left: 2.5%;
	}

	.right-side {
		width: 100%;
	}
	.left-side {
		width: 100%;
		margin-bottom: 30px;
	}


}